<div class="${baseClass}">
    <style type="text/css">
        .${baseClass}{
            position: absolute;
            top: 24px;
            left: 20px;
            z-index: 101;
        }

        .${baseClass} .${containerChangeBaseMap} {
            background: #fff;
            color: #444;
            display: block;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0px 0px 15px #777;
            transition : 0.5s;
            left: 40px;
            position : absolute;
        }
        .${baseClass} .${containerChangeBaseMap}:hover{
            background-color: #fff;
            transition : 0.5s;
        }
        .${baseClass} .${btnChangeBaseMap} {
            width: 30px;
            height: 32px;
            position: absolute;
            top: 0;
            left: 0px;
            background-color: #fff;
            color: #777;
            border-radius: 6px;
            border: 2px solid #777;
            cursor: pointer;
            font-size: 24px !important;
            /*background-image: url("${baseUrl}images/icones/icone-camadas.png");*/
            background-repeat: repeat;
            z-index: 101;
        }
        .${baseClass} .${btnChangeBaseMap}:hover{
            background-position: 0px -32px !important;
            color: #333;
        }
        #${basemapGallery} {
            max-height: 200px;
            overflow: hidden;
        }
        #${basemapGallery}:hover {
            overflow: auto;
        }
        .fa-globe {
            height: 32px;
            line-height: 32px;
        }

    </style>
    <div data-dojo-attach-point="btnChangeBaseMap" class="${btnChangeBaseMap}"><i class="fa fa-globe fa-fw"></i></div>
    <div data-dojo-attach-point="containerChangeBaseMap" class="${containerChangeBaseMap}">
        <div class="my-title">Mapa base</div>
        <div data-dojo-attach-point="basemapGallery" id="${basemapGallery}"></div>
    </div>
</div>