<div>

    <style>
        .full
        {
            position: absolute;
            z-index: 1000;
            border: 2px #666 solid;
            background-color: white;
            border-radius: 6px;
            padding: 5px 2px 3px 6px;
            width: 22px;
            height: 23px;
            top: 175px;
            left: 20px;
            cursor: pointer;
            font-size: 1.8em;
            color: #666;
        }

        .full:hover
        {
            background-color: #ced3ce;
        }
    </style>

    <div data-dojo-attach-point="btnFullScreen" class="full fa fa-arrows-alt">&nbsp;</div>

</div>